body {
    margin: 0;
    padding: 0;
    padding-left: 10px;
    font-family: 'Open Sans', sans-serif;
    font-size: 16px;
}

.container
{
  display: flex;
  flex-direction: column;
  gap: 20px;
  
}

.controls
{
  display: flex;
  flex-direction: row;
  column-gap: 10px;
  

}

.labelInf
{
  padding-top: 15px;
  order: 0;
  display: flex;
  flex-direction: column;
  row-gap: 30px;
  width: 150px; 
}

.labelDist{order:0;}
.labelForce{order:1;}

.sliders
{
  order: 1;
  display: flex;
  flex-direction: column;
  
}

.distSlider{order:0;}
.forceSlider {order:1;}


#infoBox {
 visibility:hidden;
  position: absolute;
  height: auto;
  padding: 10px;
  background-color: white;
  border-radius: 10px;
  box-shadow: 4px 4px 10px rgba(0, 0, 0, 0.4);
  opacity: 0.6;
}

#infoBox p {
  margin: 0;
  font-size: 14px;
  line-height: 30px;
}

.svgContainer{
  order:2;
  display: flex;
  flex-wrap: wrap;
  row-gap: 10px;

}

input[type="range"] {
  -webkit-appearance: none;
  width: 450px;
background: grey;
  margin: 20px 0;
  border-radius: 5px;
}

input[type="range"]::-webkit-slider-thumb {
  -webkit-appearance: none;
  width: 40px;
  height: 40px;
  background-image: url('../TieF.png');
  background-size: cover;
  cursor: pointer;
  margin-top: -15px;
}

input[type="range"]::-moz-range-thumb {
  width: 40px;
  height: 25px;
  background-image: url('../TieF.png');
  background-size: cover;
}

input[type="range"]::-webkit-slider-runnable-track {
  height: 8px;
}

/* Checkbox styles */
input[type="checkbox"] {
  appearance: none;
  width: 24px;
  height: 24px;
  border-radius: 4px;
  border: 2px solid black;
  cursor: pointer;
  margin-right: 10px;

}

input[type="checkbox"]:checked {
  background-color: orange;
  border: none;
}

input[type="checkbox"]:hover {
  background-color: orange;

}

